
<div id="head_description_create">
   
    <span class="head_description_create_reachjobs_txt">Reach Jobs</span> 
    <span class="head_description_create_your_online_txt">Your Online Resume And Portfolio</span>
    <div id="head_description_button_create">
        <% if user_signed_in? %>
          <%= link_to "Create Your Profile", root_path %>
        <% else %>
          <%= link_to "Create Your Profile", new_user_registration_path %>
        <% end %>  
    </div>
</div>

<hr width="850" align="center">