<div class="skill_fieldsremovable">
  <div class="one_skill">
   
    <%= f.label :skill_name, "List of skills" %> : <%= f.text_field :skill_name, :size => "130px", :placeholder => "Enter a list of skills" %> <%= link_to_remove_fields(image_tag("/images/ico_delete.png"), f, "skill_fieldsremovable") %>
  </div>  
</div>
