
<div id="head_description">
  <div id="head_description_create">
     
      <span class="head_description_create_reachjobs_txt">Reach Jobs</span> 
      <span class="head_description_create_your_online_txt">Your Online Resume And Portfolio</span>
      <div id="head_description_button_create">
          Create Your Profile
      </div>
  </div>

  <hr width="850" align="center">

  <div id="head_description_img">
      <%= image_tag("/images/macbook.png") %>
  </div>

  <div id="head_description_text">
      <span class="head_title">Free Online Resume and Portfolio Generator</span><br/>
      <span class="second_title">Showcase your experience and your projects</span>

      <ul>
        <li>Customize your Profile</li>
        <li>Create fucking thing</li>
        <li>This is just awesome</li>
      </ul>
      <br/>
      <br/> 
      
  </div>
</div>

<hr width="850" align="center">
