<div id="blue_content_repeat">
  <div id="blue_content">
    <div id="blue_content_text">
        Hello My Friend
    </div>

    <div id="blue_content_img">
        <%= image_tag("/images/macbook.png") %>
    </div>
  </div>
</div>