<%= render "shared/head_description" %>

<div class="edit_form">
  <div class="reachjobs_step">
      <div class="reachjobs_step_left">
        <p class="reachjobs_step_title">About Us</p><br><br>
        <%= simple_format("ReachJobs is a free online resume and portfolio creator.      
                                                           
        It offers a simple and customize way to display your assets when applying for a job, a position or to have a reference online.

        You are a prodigious Web Designer, a Web Developer or even an occasional photographer? 
        ReachJobs provides a free image gallery to showcase your work.

        You're willing to have an online reference of your personal and professional experience? 
        ReachJobs provides a classic resume through 6 sections;  skills, education, personal projects, work experience, languagues, hobbies

        Incoming : 
        Social Network / Search Engine / Recruiters workspace ") %>
      </div>
      
      <div class="reachjobs_step_right">  
        <%= image_tag "/images/Fabrice_CHENG_ID_PHOTO.png" %>
        <span class="figure_caption">Fabrice CHENG, ReachJobs.net creator</span>
      </div>
  </div>  
</div>
