// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared_color";

.gallery_name {
  font-size: 20px;
  text-transform: uppercase;
}

.gallery_content {
  width: 266px;
  height: 206px;
  padding: 3px;
  margin-bottom: 20px;
  float: left;
  display: block;
  overflow: hidden;
    -moz-box-shadow:0 0 10px #111;
  -webkit-box-shadow:0 0 10px #111;
  box-shadow:0 0 10px #111;
}

.addmargin {
  margin-right: 20px;
}

.gallery_content:hover {
  background-color: lighten($my_orange, 40%);
}

.skills_used {
  font-size: 10px;
  font-style: italic;
  color: darken($body_background, 30%);
}

.gallery_images {
  width: auto;


  .gallery_images_left {
    width: 280px;
    padding-top: 50px;
    float: left;
    text-align: left;
    padding-left: 20px;
    hr {   
      font-size: 0px;
      width: 250px;
      border-bottom: 1px dashed darken($body_background, 20%);
    }
  }

  .gallery_images_right {
    padding-top: 40px;
    width: 590px; 
    float: right;
    overflow: hidden;
    background-repeat:no-repeat,no-repeat;
  }
}

.gallery_add_images_form {
  background: lighten($my_orange, 40px);
  border-radius: 20px;
  overflow: hidden;
  margin: 30px;
  margin-top: 10px;
  padding: 30px;
}

.gallery_title {
  color: $my_blue;
  font-size: 16px;
  font-family: "Verdana";
  font-weight: bold;
  text-transform: uppercase;
}
