// Place all the styles related to the Home controller here.// They will automatically be included in application.css.// You can use Sass(SCSS)here:http://sass-lang.com/
/*
body {
  background-image: url('/images/header_with_logo_repeat.png');
  background-repeat: repeat-x;
}
*/

body {
  margin: auto;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgb(219, 137, 37);
}

a:visited {
  text-decoration: none;
}

#header_logo {
  background-image: url('/images/header_with_logo_repeat.png');
  /*background-position:  center center;*/
  background-repeat: repeat-x;
  height: 36px;
  #logo {
    width: 900px;
    height: 36px;
    border: 1px solid red;
    margin: auto;
    
    .header_text {
    /*position: relative;
    left: 600px;*/
    float: right;
    padding-right: 10px;
    padding-top : 10px;
    display: inline-block;
    font-family: "Verdana";
    font-size: 11px;
    }
  }
}

 

#header_menu {

  background-image: url('/images/header_menu_repeat.png');
  /*background-position:  center center;*/
  background-repeat: repeat-x;
/*  width: 2000px; */
  height: 40px;

  #search_bar {
    width: 900px;
    height: 40px;
    border: 1px solid blue;
    margin:auto;
    background-image: url('/images/header_menu_searchbar.png');
    background-repeat: none;
  }
}


#blue_content_repeat {
  background-image: url('/images/blue_content_repeat.png');
  /*background-position:  center center;*/
  background-repeat: none;
/*  width: 2000px; */
  height: 303px;
    #blue_content {
      width: 900px;
      height: 303px;
      /*background-image: url('/images/blue_content.png');
      background-repeat: none;*/
      border: 1px solid green;
      margin: auto;

      #blue_content_text {
        width: 426px;
        height: 280px;
        border: 2px dashed red;
        float: left;
        padding-top: 20px;
        padding-right : 20px;
      }
      
      #blue_content_img {
        width: 446px;
        height: 280px;
        border: 2px dashed blue;
        display: inline-block;
        padding-top: 20px;
      }

      .head_title {
        font-family: "Verdana";
        font-size: 36px;
        color: rgb(219, 137, 37);
      }
      .second_title {
        font-family: "Verdana";
        font-size: 24px;
        color: white;
      }
    }
}


#main_content {
  width: 900px;
  margin: auto;
  border: 2px solid black;

  #create_profile_img {
    width: 440px;
    float: left;
    border: 2px dashed red;
    text-align: right;
    display: table;



    p {
      vertical-align: middle;
      display: table-cell;
      text-align: left;
    }
  }
    

  #search_someone_img {
    width: 440px;
    border: 2px solid green;
    display : inline-block;
    display: table;
    text-align: right;

    p {
      vertical-align: middle;
      display: table-cell;
      text-align: left;
    }
  }

}

