// Place all the styles related to the Home controller here.// They will automatically be included in application.css.// You can use Sass(SCSS)here:http://sass-lang.com/
/*
body {
  background-image: url('/images/header_with_logo_repeat.png');
  background-repeat: repeat-x;
}
*/

@import "shared_color";


body {
  margin: auto;
  background-color: darken($body_background, 20%);
  font-size: 11px;
  font-family: "Verdana";
  color: black;
}

a img {
  border: none;
}

.header_text {
  color: $body_background;

  a {
    text-decoration: none;
    color: $my_orange;  
  }

  
  a:visited {
    text-decoration: none;
    color: $my_orange; 
  }

  a:hover {
    color: #32B3E6;
  }
}

#main_content {
  position: relative;
  width: 900px;
  margin: auto;
  
  #content {
    background-color: $background;
    width: 900px;
    border-radius: 5px;
    position: absolute;
    top: -40px;
  }
}

#footer {
  background-color: darken($body_background, 20%);
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
}


#head_description_create {
  width: 829px;
  height: 50px;
  background-image: url('/images/user_grey.png');
  background-repeat: no-repeat;
  padding-left: 70px;

  .head_description_create_reachjobs_txt {
    font-size: 50px;
    color: $my_orange;
  }

  .head_description_create_your_online_txt {
    font-size: 20px;
    color: grey;
  }

  #head_description_button_create {
    float: right;
    margin-top: 18px;
    margin-right: 20px;
  }

}

#head_description_img {
  width: 380px;

  float: left;
  padding-left: 20px;
}

#head_description_text {
  width: 472px;

  display: inline-block;
  padding-top: 20px;
  padding-right : 20px;

  .head_title {
    font-size: 20px;
    color: $my_second_blue;
    line-height: 12px;
  }

  .second_title {
    font-size: 16px;
    color: #414142;
  }

  li {
    list-style: none; 
    background-image : url('/images/list_green_check.png');
    background-repeat: no-repeat;
    font-family: "Verdana";
    font-size: 12px;
    color: #414142;
    bottom: 0px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 40px;
  }    
}

.index_hr {
  height: 1px;
  width: 850px;
  background-color: darken($body_background, 30%);
  font-size: 0px;
  margin-bottom: 10px;
}  

.hr_footer {
  height: 1px;
  width: 900px;
  background-color: darken($body_background, 30%);
  font-size: 0px;
  margin-bottom: 10px;
}

.view_example {

  margin-left: 0px;

  a {
    text-decoration: none;
    color:#68b4ef;
    font-size: 14px;
    font-weight: bold;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    color: lighten(#68b4ef, 10%);
  }
}

.reachjobs_head_title {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $my_blue;
}

.reachjobs_step_title {
  font-size: 16px;
  color: $my_orange;
  display: inline;
}

.reachjobs_step {
  width: 600px;
  
  clear: both;
  margin: auto;
}

.reachjobs_step_left {
  float: left;
  width: 300px;
  margin-bottom: 20px;

  img {
      -moz-box-shadow:0 0 10px #111;
      -webkit-box-shadow:0 0 10px #111;
      box-shadow:0 0 10px #111;
  }
}

.reachjobs_step_right {
  float: right;
  margin-left: 30;
  width: 250px;
  font-size: 13px;
  
}

.figure_caption {
  font-style: italic;
  font-size: 10px;
  color: darken($body_background, 40%);
  padding-left: 10px;
}

