// Place all the styles related to the Informations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared_color";

#profile_header {
  width: 900px;
  height: 230px;
  position: relative;
}

#profile_header_idcard {
  top: 10px;
  left: 60px;

  position: absolute;
  width: 400px;
  background-color: $background;
  border: 1px outset;

  #profile_header_idcard_photo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left : 10px;
    margin-right: 10px;
    float: left;
  }

  #profile_header_idcard_description {
    width: 230px;
    height: 150px;
    float: left;
    margin-top: 23px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-family: "Verdana";
      font-size: 11px;
    }
    img {
      vertical-align: middle;
    }

    .profile_fullname {
      font-family: "Verdana";
      font-size: 18px;
      color: $my_blue;
      
    }
    
    .profile_headline {
      font-family: "Verdana";
      font-size: 14px;
      color: $my_second_blue;
    }
  }

  #profile_hader_idcard_view_profile {
    width: 120px;
    border-top: 1px dashed darken($body_background, 30%);
    border-right: 1px dashed darken($body_background, 30%);
    background-color: darken($body_background, 10%);
    height: 35px;
    padding-top: 2px;
    clear: both;
    float: left;
  }

  #profile_hader_idcard_public_link {
    width: 274px;
    height: 37px;
    float: left;
    line-height: 35px;
    border-top: 1px dashed darken($body_background, 30%);
    background-color: darken($body_background, 10%);
    padding-left: 5px;

    a {
      text-decoration: none;
      color: #32B3E6;
    }

    a:visited {
      text-decoration: none;
      color: #32B3E6;
    }

    a:hover {
      color: $my_orange;  
    }
  }
}


#profile_tab {
  width: 900px;
  height: 30px;
  /*border-top: 1px solid $my_orange  ;*/

  .one_tab_empty {
    display: inline-block;
    float: left;
    width: 20px;
    height: 31px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
  
  .one_tab_empty_end {
    display: inline-block;
    float: left;
    width: 572px;
    height: 31px;
    border-bottom: 1px solid black;
  }

  .one_tab {
    display: inline-block;
    float: left;
    width: 100px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    border-left: none;
    background-color: darken($body_background, 20%);
    font-size : 13px;
    font-family: "Verdana";
    color: $my_blue;
  }

  .one_tab:hover {
    background-color: darken($body_background, 10%);
  }

  .one_tab_selected {
    display: inline-block;
    float: left;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 40px;
    background-color: $background;
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
    font-size : 13px;
    font-family: "Verdana";
    color: $my_blue;
  }
}


#anchor_tab {  
  
  margin-bottom: 20px;
  overflow: hidden;

  .one_anchor {
    height: 35px;
    width: 142px;
    float: left;
    border-left: 1px solid darken($body_background, 30%);
  }
}

#profile_content {
  width: 860px;
  margin: 20px;
  overflow: hidden;

  

  .profile_title {
    position: relative;
    color: $my_blue;
    font-size: 16px;
    font-family: "Verdana";
    

  } 

  .add_section {
    font-size: 14px;
    font-family: "Verdana";
    float: right;
    padding-top: 7px;
  }
}

#profile_aboutme_description {
    width: 520px;
    float: left;
    text-align: justify;
}

#profile_aboutme_rightside {
  width: 310px;
  float: left;
  margin-left: 20px;
  padding-bottom: 20px;
}



hr.section_seperator {
    height: 2px;
    background-color: $my_blue;
    font-size: 0px;
}

hr.content_separator {
  height: 1px;
  width: 661px;
  background-color: darken($body_background, 10%);
  font-size: 0px;
}

::-webkit-input-placeholder {
  font-style: italic;
  color: grey;
  font-size: 10px;
  font-family: "Verdana";
}

:-moz-placeholder {
  font-style: italic;
  color: grey;
  font-size: 10px;
  font-family: "Verdana";
}

.show {
  display: block;
}

.hide {
  display: none;
}


/*
.one_section_header {
  font-size: 15px;
  font-family:"Verdana";
  color: $my_blue;
  background-color: $body_background;
  border: 1px double darken($body_background, 10%);
  height: 25px;
  line-height: 25px;
  width: 847px;
  padding-left: 10px;

  .one_section_readonly {
    border: none;
    background-color: $body_background;
    font-size: 15px;
    font-family:"Verdana";
    color: $my_orange;
  }

  img {
    vertical-align: middle;
    float: right;
    padding-right: 5px;
    padding-top: 5px;
  }
}*/

/*
.one_section_content {
  position: relative;
  overflow: hidden;
  font-size: 11px;
  font-family: "Verdana";
  border: 1px double darken($body_background, 10%);
  border-top : none;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  width: 847px;  background-color: lighten($my_orange, 47%);

} */


.not_visible {
  -moz-opacity:0.2;
  opacity: 0.2;
  filter:alpha(opacity=20);
}

label, .like_label {
    color: $my_second_blue;
}

.edit_form {
  margin: 30px;
  font-size: 12px;
  font-family: "Verdana";

  
 
  .profile_title {
    color: $my_blue;
    font-size: 18px;
    font-family: "Verdana";
    font-weight: bold;
  }

  .edit_submit_field {
      text-align: left;
  }


  hr.edit_section_seperator {
    height: 1px;
    background-color: $my_blue;
    font-size: 0px;
  }

  .edit_form_left {
    width: 400px;
    float: left;
    border: 1px solid red;
  }

  .edit_form_right{
    width: 400px;
    float: left;
    border: 1px solid green;
    margin-left: 30px;
  }
}


.add_edit_link {
  text-decoration: none;
  float: right;
  font-size: 14px;
  padding-top: 3px;
  color: $my_orange;
}

.add_edit_link_smaller, .remote-delete {
  font-size: 11px;
  text-decoration: underline;  
  color: $my_orange;
  margin-left: 10px;
}

.add_edit_link:visited, .add_edit_link_smaller:visited, .remote-delete:visited {
  color: $my_orange;
  text-decoration: underline;  
}

.add_edit_link:hover, .add_edit_link_smaller:hover, .remote-delete:hover {
  color: #32B3E6;
}

.profile_header_flash {
  color: red;
}

.highlight {
  color: #32B3E6;
}

.title {
  font-size: 13px;
  text-transform: uppercase;
}

.headline {
  font-size: 12px;
  color: $my_blue;
  font-family: "Verdana";
}

.date {
  color: darken($body_background, 30%);
}

.left_side {
  width: 200px;
  clear: both;
  float: left;
  text-transform: uppercase;
  color: $my_second_blue;
}

.right_side {
  float: left;
  width: 658px;
}