@import "shared_color";


hr {
  border: 0.07em solid rgb(243, 243, 243);
}


#header_no_width {
  /*background-image: url('/images/header_with_logo_repeat.png');*/
  /*background-position:  center center;*/
  background-color: $my_blue;
  background-repeat: repeat-x;
  height: 36px;
  #header_real_width {
    width: 900px;
    height: 36px;
    /*border: 1px solid red;*/
    margin: auto;
    
    .header_text {
    /*position: relative;
    left: 600px;*/
    float: right;
    padding-right: 10px;
    padding-top : 10px;
    display: inline-block;
    font-family: "Verdana";
    font-size: 11px;
    }
  }
}

#header_menu_no_width {

  /*background-image: url('/images/header_menu_repeat.png');*/
  /*background-position:  center center;*/
  background-repeat: repeat-x;
  background-color: $my_second_blue;
  border-top: 0.07em solid #1E8F9E;
/*  width: 2000px; */
  height: 115px;

  #header_menu_real_width {
    width: 900px;
    height: 40px;
    /*border: 1px solid blue;*/
    margin:auto;
    /*background-image: url('/images/header_menu_searchbar.png');*/
    background-repeat: none;

    #logo {
      margin: 10px;
      float: left;
    }

    #menu_bar {
      float: right;
      margin-top: 10px;
      /*border: 1px outset lighten($my_second_blue, 5%);*/
      /*border-radius: 10px;*/
      background-color: $my_second_blue;
      padding-top: 10px;
      

      .one_menu {
        float: left;
        height: 40px;
        background-color: $my_orange;
        margin-left: 2px;
      }
    }
  }
}

#footer {
  font-family: "klavika-web",sans-serif;
  font-size: 10px;
  color: grey;
  text-align: right;
  margin: auto;
  padding-right: 25px;
}
