// Place all the styles related to the recommendations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "shared_color";

.recommendation_fieldsremovable {
  margin-bottom: 20px;

  hr {
    height: 1px;
    font-size: 0px;
    background-color: darken($body_background, 10%);
    width: 280px;
  }
}

.author {
  font-size: 12px;
}

.relation {
  color: #808080;
}

.content {
  p {
    display: inline;
  }
  text-justify: newspaper;
}