@import "shared_color";

#rec_join_reachjobs {
  width: 600px;
  height: 50px;
  margin: auto;
  background-color: $my_blue;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-family: "klavika-web",sans-serif;
  color: white;
  border-radius: 5px;
}


#register_form {
  margin: auto;
  width: 600px;
  border: 2px solid darken($body_background, 10%);
  border-radius: 5px;
  padding: 10px;
  position: relative;

  #register_form_notsigned {
    width: 360px;
    border-right: 1px dashed #414142;
    position: relative;

    #form_group {
      width: 360px;
      height: 50px;


      #form_label {
        width: 160px;
        float: left;
        text-align: right;
        height: 30px;
        font-family: "Verdana";
        font-size: 12px;
        color: #414142;
        font-weight: bold;
      }

      #form_field {
        width: 2OOpx;
        text-align: left;
        padding-left: 20px;
        display: inline-block;
        height: 30px;
      }
    }
  }
  
  #register_form_signed { 
    width: 200px;
    position: absolute;
    right: 20px;
    bottom: 40px;
  }  


}


#register_button {
  margin-left: 250px;
}
  


.field_with_errors {
  display: inline;
}

.field_error_msg {
  font-family: "Verdana";
  font-size: 11px;
  color: #F70202;
}