// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared_color";

.list_of_skills_container {
  width: 370px;
  height: 150px;
  border: 1px ridge darken(#C4C4C4, 5%);
  background-color: white;
  margin-top: 5px;
  padding: 3px;
}



.one_skill {
  border: 1px solid darken(#eef2f8, 10%);
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  background-color: #eef2f8;
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 2px;
  float: left;

  img {
    padding-top: 2px;
  }
}

.input_skill {
  border: 0px;
  background-color: #eef2f8;
  font-family:"Verdana",sans-serif;
  color: $my_blue;
}

.one_skill_caterogy_to_add {
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    
    vertical-align: middle;  
    padding-bottom: 3px;
  }
}


.autocomplete-w1 { 
  background:url(img/shadow.png) no-repeat bottom right; 
  position:absolute; 
  top:0px; 
  left:0px; 
  margin:6px 0 0 6px; /* IE6 fix: */ 
  _background:none;
   _margin:1px 0 0 0; 
 }
.autocomplete { 
  border:1px solid #999; 
  background:#FFF; 
  cursor:default; 
  text-align:left; 
  max-height:350px; 
  overflow:auto; 
  margin:-6px 6px 6px -6px; /* IE6 specific: */ 
  _height:350px;  
  _margin:0; 
  _overflow-x:hidden; 
}
.autocomplete .selected { 
  background:#F0F0F0; 
}
.autocomplete div { 
  padding:2px 5px; 
  white-space:nowrap; 
  overflow:hidden; 
  font-size: 13px;
}
.autocomplete strong { 
  font-weight:normal; 
  color:$my_orange; 
}