// Place all the styles related to the workexperiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.one_section_content_part_left {
  width: 550px;
  float: left;
  line-height: 20px;
}

.one_section_content_part_right {
  width: 250px;
  float: right;
  text-align: left;
}